/* header mobile */

.home__header{
    font-family: var(--fontHeader-nav);
}

.header__screen{
    display: none;
}

.header__mobile{
    background-color: var(--bgNav-links);
}

.header__mobile a{
    color: var(--navLinks);
}

.mobile__links{
    width: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.mobile__links li{
    cursor: pointer;
}

.mobile__links li img{
    width: 22px;
    height: 22px;
}

.mobile__links li:last-of-type{
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu__button{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.menu__button div{
    width: 18px;
    height: 1.5px;

    border-radius: 1px;
    background-color: var(--menu);
    
    transition: 0.3s;
}

/* input mobile */

.mobile__input{
    display: none;
}

.header__mobile.openInputMobile .mobile__input{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 25px 50px;
    gap: 18px;
    
    font-family: var(--fontLinks-menu);
    font-size: 1.25rem;
    color: var(--navLinks);

    animation: menuHeader 0.4s ease-in;
}

.header__mobile.openInputMobile .mobile__input li{
    animation: opacityLinks 0.4s ease-in;
}

.header__mobile.openInputMobile .mobile__input li:first-of-type{
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}

.header__mobile.openInputMobile .mobile__input li:first-of-type img{
    width: 25px;
    height: 25px;

    opacity: 0.45;
}

.header__mobile.openInputMobile .mobile__input li:first-of-type input{
    background-color: transparent;
    padding: 5px;
    margin: 0 0 0 10px;

    font-family: var(--fontInput-header);
    font-size: 2rem;
    color: var(--subTitle-header);

    cursor: pointer;
}

.header__mobile.openInputMobile .mobile__input li:nth-of-type(2){
    font-family: var(--fontInput-header);
    font-size: 1.4rem;
    color: var(--subTitle-header);
}

.header__mobile.openInputMobile .mobile__input li:first-of-type input:focus{
    outline: none;
}

.header__mobile.openInputMobile .mobile__input li a:hover{
    color: var(--navLinks-hover);
}

.header__mobile.openInputMobile .mobile__input li a::before{
    content: "\2192";
    display: inline-block;
    margin: 0 10px 0 0;

    font-size: 1.5rem;
    color: var(--setaInput-links);
}

.header__mobile.openInputMobile .mobile__input li a:hover::before{
    color: var(--setaInput-linksHover);
}

/* menu mobile */

.mobile__menu{
    display: none;
}

.header__mobile.openInputMobile .menu__button,
.header__mobile.openMenu .menu__button{
    transform: translateY(12px);
}

.header__mobile.openMenu .mobile__links li > :not(.menu__button),
.header__mobile.openInputMobile .mobile__links li > :not(.menu__button){
    display: none;
}

.header__mobile.openMenu .menu__button div:first-of-type,
.header__mobile.openInputMobile .menu__button div:first-of-type{
    width: 23px;

    transform: rotate(45deg);
}

.header__mobile.openMenu .menu__button div:last-of-type,
.header__mobile.openInputMobile .menu__button div:last-of-type{
    width: 23px;

    transform: rotate(-45deg) translate(6px, -6px);
}

.header__mobile.openMenu .mobile__menu{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    padding: 25px 50px;
    gap: 15px;

    font-family: var(--fontLinks-menu);
    font-size: 1.6rem;
    color: var(--navLinks);

    animation: menuHeader 0.4s ease-in;
}

.header__mobile.openMenu .mobile__menu li{
    opacity: 1;
    animation: opacityLinks 0.4s ease-in;
}

.header__mobile.openMenu .mobile__menu li a:hover{
    color: var(--navLinks-hover);
}

@media (min-width: 840px){
    /* header screen */

    .header__mobile{
        display: none;
    }

    .header__screen{
        display: block;
        background-color: var(--bgNav-links);
    }

    .header__screen a{
        color: var(--navLinks);
    }

    .links__options{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;

        max-width: 840px;
        margin: 0 auto;
        padding: 15px;

        font-size: 0.75rem;
        color: var(--navLinks);

        cursor: pointer;
    }

    .links__options li a{
        color: var(--navLinks);
    }

    .links__options li a:hover,
    .links__serch li a:hover{
        color: var(--navLinks-hover);
    }

    /* input screen */

    .links__serch{
        display: none;
    }

    .header__screen.openInputScreen{
        box-shadow: 1px 1px 2px var(--shadowHeader);
    }

    .header__screen.openInputScreen .links__serch{
        height: 400px;
        max-width: 840px;
        margin: 0 auto;
        padding: 25px 40px;

        display: flex;
        flex-direction: column;
        gap: 18px;

        font-family: var(--fontLinks-menu);
        font-size: 1rem;
        color: var(--navLinks);

        animation: serchHeader-screen 0.4s ease-in;
    }

    .header__screen.openInputScreen .links__serch li{
        animation: opacityLinks 0.4s ease-in;
    }

    .header__screen.openInputScreen .links__serch li:first-of-type input{
        background-color: transparent;
        padding: 5px;
    
        font-family: var(--fontInput-header);
        font-size: 1.7rem;
        color: var(--subTitle-header);
    
        cursor: pointer;
    }

    .header__screen.openInputScreen .links__serch li:first-of-type input:focus{
        outline: none;
    }

    .header__screen.openInputScreen .links__serch li:first-of-type img{
        width: 24px;
        height: 24px;

        opacity: 0.45;
    }

    .header__screen.openInputScreen .links__serch li:nth-of-type(2){
        font-family: var(--fontInput-header);
        font-size: 1.2rem;
        color: var(--subTitle-header);
    }

    .header__screen.openInputScreen .links__serch li a::before{
        content: '\2192';
        display: inline-block;

        margin: 0 10px 0 0;

        font-size: 1.1rem;
        color: var(--setaInput-links);
    }

    .header__screen.openInputScreen .links__serch li a:hover::before{
        color: var(--setaInput-linksHover);
    }
}