@import 'styleFonts.css';

@import 'header.css';

:root{
    --bgHeader: #030303;
    --bgNav-links: #1e1e1f;
    --menu: #ffffff;

    --navLinks: #fbfbfb;
    --navLinks-hover: #b4b4b4;
    --linksHeader: #2997ff;

    --titleHeader: #f5f5f7;
    --subTitle-header: #717177;

    --setaInput-links: #f8f8f8;
    --setaInput-linksHover: #b1b1b1;

    --shadowHeader: rgba(0, 0, 0, 4);
}

@keyframes menuHeader{
    0%{
        min-height: 0;
        max-height: 0;
    }

    100%{
        min-height: 100vh;
        max-height: 100%;
    }
}

@keyframes serchHeader-screen{
    0%{
        height: 0;
    }

    100%{
        height: 400px;
    }
}

@keyframes opacityLinks{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    max-height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}