@font-face {
    font-family: 'Sf Mono light';
    src: url(../Fonts/SFMonoLight.otf);
}

@font-face {
    font-family: 'Sf Mono Semi-Bold';
    src: url(../Fonts/SFMonoSemibold.otf);
}

@font-face {
    font-family: 'Sf Pro Display';
    src: url(../Fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: 'Sf Pro Text Heavy';
    src: url(../Fonts/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: 'Sf Pro Text Semi-Bold';
    src: url(../Fonts/SF-Pro-Text-Semibold.otf);
}

:root{
    --fontHeader-nav: 'Sf Mono light';
    --fontInput-header: 'Sf Mono Semi-Bold';

    --fontHeader-title: 'Sf Pro Display';
    --fontLinks-menu: 'Sf Pro Text Semi-Bold';
}