@import 'header.css';

@import 'main__introduction.css';
@import 'main__spirite.css';


/* Sf Mono */

@font-face {
    font-family: 'Sf Mono light';
    src: url(../Fonts/SFMonoLight.otf);
}

@font-face {
    font-family: 'Sf Mono Semi-Bold';
    src: url(../Fonts/SFMonoSemibold.otf);
}

/* Sf Pro Display */

@font-face {
    font-family: 'Sf Pro Display Regular';
    src: url(../Fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'Sf Pro Display Bold';
    src: url(../Fonts/SFPRODISPLAYBOLD.OTF);
}

/* Sf Pro Text */

@font-face {
    font-family: 'Sf Pro Text Heavy';
    src: url(../Fonts/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: 'Sf Pro Text Semi-Bold';
    src: url(../Fonts/SF-Pro-Text-Semibold.otf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    max-height: 100%;
    min-height: 100vh;
    
    overflow-x: hidden;
}