:root{
    --background-footer: #F5F5F7;

    --color-titleFooter: #1D1D1F;
    --color-text: #6E6E73;
    --color-links: #424245;
    --color-endLinks: #0066CC;

    --border: #D2D2D7;

    --font-title: 'Sf Pro Text Semi-Bold';
    --font-text: 'Sf Pro Text Regular';
}

.home__footer{
    background-color: var(--background-footer);
}

.footer__organization{
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.footer__infos{
    display: grid;
    gap: 20px;

    font-family: var(--font-text);
    font-size: 0.825rem;
}

.footer__infos p{
    color: var(--color-text);
}

.footer__infos p a,
.footer_-infos p span{
    color: var(--color-links);
}

.footer__directory{
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.directory__organization{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

.footer__directory ul{
    display: grid;
    gap: 25px;
}

.footer__directory ul div{
    display: grid;
    gap: 10px;
}

.footer__directory ul .directory__titles{
    color: var(--color-titleFooter);
    font-family: var(--font-title);
    font-size: 1rem;
}

.footer__directory ul li a{
    color: var(--color-links);
    font-family: var(--font-text);
    font-size: 0.9rem;
}

.footer__directory p{
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 0.825rem;
}

.footer__directory p a{
    color: var(--color-endLinks);
    font-size: 0.825rem;
}

.footer__privacy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.footer__privacy p{
    color: var(--color-text);
    font-family: var(--font-text);
    font-size: 0.825rem;
}

.footer__privacy div{
    display: flex;
    align-items: center;
}

.footer__privacy div a{
    font-size: 0.825rem;
    font-family: var(--font-text);
    color: var(--color-links);
    padding: 0 5px 0 10px;
}

.footer__privacy div a + a{
    border-left: 1px solid var(--border);
}

@media(min-width: 525px){
    .directory__organization{
        justify-content: center;
    }
}

@media (min-width:950px){
    .directory__organization{
        justify-content: space-between;
    }
}

@media (min-width: 1800px){
    .footer__organization{
        max-width: 1400px;
    }

    .footer__infos{
        font-size: 0.95rem;
    }
}

@media (max-width: 320px){
    .directory__organization{
        justify-content: center;
    }

    .directory__organization ul div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}