:root{
    --colorTitle-white: #F5F5F7;
    --colorTitle-black: #1D1D1F;
    --colorLink: #06C;

    --colorLogo-AppleWatch: #B71D23;
    --colorLogo-Watch: #fd8d37;

    --fontTitle: 'Sf Pro Display Bold';
    --fontText: 'Sf Pro Display Regular';
    --fontLink: 'Sf Pro Text Regular'
}

.main__products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 8px;

    overflow-x: hidden;
}

.main__products figure{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.main__products figure a img{
    min-width: 740px;
    min-height: 570px;
}

.products__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    margin: 30px 0 0 0;
    position: absolute;
    top: 0;

    text-align: center;
}


.products__links{
    display: flex;
    gap: 20px;
}

.products__links a{
    color: var(--colorLink);
    font-family: var(--fontLink);
    font-size: 1rem;
}

.products__titlesIphone{
    color: var(--colorTitle-white);
}

.products__titlesIphone h1{
    font-family: var(--fontTitle);
    font-size: 1.8rem;
}

.products__titlesIphone p{
    font-family: var(--fontText);
    font-size: 1.3rem;
}

.products__titlesIpad{
    color: var(--colorTitle-black);
}

.products__titlesIpad h1{
    font-family: var(--fontTitle);
    font-size: 1.8rem;
}

.products__titlesIpad p{
    font-family: var(--fontText);
    font-size: 1.3rem;
}

.products__titlesAirpods{
    color: var(--colorTitle-black);
}

.products__titlesAirpods h1{
    font-family: var(--fontTitle);
    font-size: 1.8rem;
}

.products__titlesAirpods p{
    font-family: var(--fontText);
    font-size: 1.3rem;
}

.products__titlesAirpods a{
    color: var(--colorLink);
    font-family: var(--fontLink);
    font-size: 1rem;
}

.products__titlesApple-watch figure,
.products__titlesWatch figure{
    display: flex;
}

.products__titlesApple-watch figure img ~ div,
.products__titlesWatch figure img ~ div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.products__titlesApple-watch{
    color: var(--colorTitle-white);
}

.products__titlesWatch{
    color: var(--colorTitle-black);
}

.products__titlesApple-watch figure img,
.products__titlesWatch figure img{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1px 18px 0;
}

.products__titlesApple-watch figure h1{
    font-family: var(--fontTitle);
    font-size: 1.8rem;
}

.products__titlesApple-watch figure p{
    color: var(--colorLogo-AppleWatch);
    font-family: var(--fontTitle);
    font-size: 0.825rem;

    margin: 0 0 0 5px;
}

.products__titlesWatch figure h1{
    font-family: var(--fontTitle);
    font-size: 1.8rem;
}

.products__titlesWatch figure p{
    color: var(--colorLogo-Watch);
    font-family: var(--fontTitle);
    font-size: 0.825rem;

    margin: 0 0 0 20px;
}

.products__titlesApple-watch figure ~ p{
    font-family: var(--fontText);
    font-size: 1.3rem;
}

.products__titlesWatch figure ~ p{
    font-family: var(--fontText);
    font-size: 1.32rem;
}

.products__titlesApple-watch .products__links,
.products__titlesWatch .products__links,
.products__titlesCard .products__links{
    line-height: 32px;
}

.products__titlesCard figure img{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1px 5px 0;
}

.products__titlesCard figure h1{
    font-family: var(--fontTitle);
    font-size: 1.8rem;
}

.products__titlesCard figure ~ p{
    font-family: var(--fontText);
    font-size: 1.3rem;
}

@media (min-width:1200px){

    .main__products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .products__titlesIphone p{
        font-size: 1rem;
    }

    .main__products figure a img{
        width: 100%;
        min-width: 0;
        min-height: 0;
    }
}

@media (min-width:1700px){

    /* variação de tamanhos de fontes */

    .products__links a{
        font-size: 1.2rem;
    }

    .products__titlesIphone h1{
        font-size: 1.925rem;
    }

    .products__titlesIphone p{
        font-size: 1.1rem;
    }

    .products__titlesIpad h1{
        font-size: 2rem;
    }

    .products__titlesIpad p{
        font-size: 1.4rem;
    }

    .products__titlesAirpods h1{
        font-size: 2rem;
    }

    .products__titlesAirpods p{
        font-size: 1.4rem;
    }

    .products__titlesAirpods a{
        font-size: 1.2rem;
    }

    .products__titlesApple-watch figure h1{
        font-size: 2rem;
    }

    .products__titlesApple-watch figure p{
        font-size: 1.1rem;
    }

    .products__titlesWatch figure h1{
        font-size: 2rem;
    }

    .products__titlesWatch figure p{
        font-size: 1.1rem;
    }

    .products__titlesApple-watch figure ~ p{
        font-size: 1.4rem;
    }

    .products__titlesWatch figure ~ p{
        font-size: 1.4rem;
    }

    .products__titlesCard figure h1{
        font-size: 2rem;
    }

    .products__titlesCard figure ~ p{
        font-size: 1.4rem;
    }
}