:root{
    --colorText: #1D1D1F;
    --colorLink: #06C;

    --fontTitle: 'Sf Pro Display Bold';
    --fontText: 'Sf Pro Display Regular';
}

.announcement__iphone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow-x: hidden;
}

.announcement__infos{
    width: 100%;

    position: absolute;
    top: 0;
    left: 50%;

    color: var(--colorText);

    transform: translate(-50%, 65%);
    z-index: 1;
}

.announcement__infos h1{
    font-family: var(--fontTitle);
    font-size: 3rem;

    line-height: 60px;
    letter-spacing: -0.3px;
    text-align: center
}

.announcement__infos p{
    font-family: var(--fontText);
    font-size: 1.6rem;

    line-height: 31px;
    letter-spacing: 0.1px;
    text-align: center
}

.announcement__infos div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcement__infos div a{
    width: 95px;

    font-family: var(--fontText);
    font-size: 1.2rem;
    
    line-height: 29px;
    letter-spacing: 0.2px;
    text-align: center;

    color: var(--colorLink);
}

@media (min-width: 1500px){
    .announcement__iphone img{
        width: 100vw;
    }
}

@media (max-width: 520px){

    .announcement__iphone img{
        width: 1000px;
    }

    .announcement__infos{
        transform: translate(-50%, 30%);
    }
}