:root{
    --colorTitle: #F5F5F7;
    --colorLink: #06C;

    --fontTitle: 'Sf Pro Display Bold';
    --fontText: 'Sf Pro Display Regular';
    --fontLink: 'Sf Pro Text Regular'
}

.main__products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 8px;

    overflow-x: hidden;
}

.main__products figure{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.main__products figure a img{
    min-width: 740px;
    min-height: 570px;
}

.products__titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    margin: 30px 0 0 0;
    position: absolute;
    top: 0;

    text-align: center;
}

.products__titlesIphone{
    color: var(--colorTitle);
}

.products__titlesIphone h1{
    font-family: var(--fontTitle);
}

.products__titlesIphone p{
    font-family: var(--fontText);
}

.products__links{
    display: flex;
    gap: 20px;
}

.products__links a{
    color: var(--colorLink);
    font-family: var(--fontLink);
}

@media (min-width:950px){

    .main__products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main__products figure a img{
        width: 100%;
        max-width: 780px;
        max-height: 570px;
        min-width: 0;
        min-height: 0;
    }
}